<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Healthcare"
        tools:targetApi="31">
        <activity
            android:name=".LocationActivity"
            android:exported="false" />
        <activity
            android:name=".HealthArticlesDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".HealthArticlesActivity"
            android:exported="false" />
        <activity
            android:name=".BuySupplementsBookActivity"
            android:exported="false" />
        <activity
            android:name=".CartBuySupplementActivity"
            android:exported="false" />
        <activity
            android:name=".BuySupplementsDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".BuySupplementsActivity"
            android:exported="false" />
        <activity
            android:name=".OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".HealthyFoodBookActivity"
            android:exported="false" />
        <activity
            android:name=".CartFoodActivity"
            android:exported="false" />
        <activity
            android:name=".HealthyFoodDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".HealthyFood"
            android:exported="false" />
        <activity
            android:name=".BookAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".FindDoctor"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD5Z6waaP1G29qHUb-d37yHNCSytrPj2t4" />
    </application>

</manifest>